:root {
    --primary-color: #cc322a
    
}

body {
    padding: 0;
    margin: 0;
}
header {
    background-image: url("../images/Header.png");
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
}
